<html>
  <head>
  <%= wicked_pdf_stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= wicked_pdf_javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= wicked_pdf_javascript_include_tag 'qrcode.min', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <div class="container">
      <%= render '/students/details.html' %> 
      <br/>
      <div id="qrcode"></div>
    </div>  
  </body>

  <script type="text/javascript">
    new QRCode(document.getElementById("qrcode"), {
      width: 128,
      height: 128, 
      text : "<%= @student.student_number %>"
    });
  </script>
</html>